/* background Image stretch - responsive*/
/* body {
  background-image: url(assets/978.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
} */

/*custom fonts*/
@font-face {
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Patua One', cursive;
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Patua+One&family=Roboto&display=swap');
}
.alpha-heading{
  font-family: Alfa Slab One;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  text-align: center;
}
.montserrat-subheading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  text-align: center;
}
.montserrat-battlefield{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: center;
}
body{
  overflow-y : auto;
}

button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
}
a {
  color: darkblue;
}
img {
  border-radius: 8px;
}

.block {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
}

div.doubleblock {
  width: 1080px;
  height: 320px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.border {
  border-radius: 8px;
  border-style: outset;
  border-width: 1px;
}

.anime {
  background-color: white;
  animation-name: animation;
  animation-duration: 3.5s;
  animation-iteration-count: 100;
}

@keyframes animation {
  from {background-color: brown;}
  to {background-color: white;}
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.btn {
    color: #f1f1f1;
    width: 100%;
}
.btn-secondary {
    background-color: green;
    color: white;
    margin-bottom: 3px;
    text-align: center;
}
.option-label {
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Patua One', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.summary {
  text-align: center;
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.summarytext {
  width:100%;
  padding: 30px;
}
.footer-text {
    text-align: center;
}
.vcenter {
  /* vertical-align: middle; */
  padding: 7px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.responsive {
  width:90%; /*Takes 90% width from WebContainer*/
  height: 90%;
  padding: 7px;
}
.fullscren {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal-header {
  font-weight: bold;
  font-size: x-large;
}
/* Office Progress Bar */
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 4px;
  background-color: #4CAF50;
}
/* End Office Progress Bar */

/* Bus Progress Bar */
#bus_progress {
  width: 100%;
  background-color: #ddd;
}

#bus_bar {
  width: 0%;
  height: 4px;
  background-color: #4CAF50;
}
/* End Bus Progress Bar */

/* Restaurant Progress Bar */
#restaurant_progress {
  width: 100%;
  background-color: #ddd;
}

#restaurant_bar {
  width: 0%;
  height: 4px;
  background-color: #4CAF50;
}
/* End Restaurant Progress Bar */

/* Bootstrap for inputs  */
input {
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

/* Code for a ticker */

/* OUTER CONTAINER */
.tcontainer {
  padding: 10px 16px;
  background-color: #857773;
  background-image: linear-gradient(315deg, #857773 0%, #301d0b 74%);  
  padding: 10px;
  width: 100%;
  overflow: hidden; /* Hide scroll bar */
}
 
/* MIDDLE CONTAINER */
.ticker-wrap {
  width: 100%;
  padding-left: 100%; /* Push contents to right side of screen */
  background-color: #857773;
  background-image: linear-gradient(315deg, #857773 0%, #301d0b 74%);  
}

/* INNER CONTAINER */
@keyframes ticker {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}
.ticker-move {
  /* Basically move items from right side of screen to left in infinite loop */
  display: inline-block;
  white-space: nowrap;
  padding-right: 100%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 40s;
}
.ticker-move:hover{
  animation-play-state: paused; /* Pause scroll on mouse hover */
}

/* ITEMS */
.ticker-item{
  color: white;
  display: inline-block; /* Lay items in a horizontal line */
  padding: 0 2rem;
  font-family: 'Roboto', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


/* This is the new section for version 2.0 */
header {
  background-color: #857773;
  background-image: linear-gradient(315deg, #857773 0%, #301d0b 74%);  
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  /* background-color: #857773; */
  padding: 20px;
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  height: 500px;
  background-color: #f1f1f1;
}
.thumbnail {
  width: 50%;
}

.left {
  padding:20px;
  float:left;
  width:40%; /* The width is 20%, by default */
}

.main {
  padding:20px;
  float:left;
  width:60%; /* The width is 60%, by default */
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 780px) {
  nav, article, .box, .thumbnail, .left, .main, .right{
    width: 100%;
    height: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

#popup {
  color: whitesmoke;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
}

.map-height {
  height: 200px!important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 10px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}