include meta

body
.row 
    .col-lg-12
        .option-label 404 - PAGE NOT FOUND
.row
    .col-lg-12
            .col-lg 
            img.map-height.img-responsive(src="assets/worldmap.jpg", alt="World map")

a.btn.btn-primary.btn-lg.btn-block(href="/") Back to home