include meta

div.content
    div.row
        div.col-lg-12
            p.option-label COVID-19 THE GAME
    hr
    div.row
        p.summary
            | The world has be taken over by SuperVillain #COVID19 and we need our SuperHeroes to come to the rescue.
            | We need to combat this great thread, so I am looking to recruit a team of Super Heroes and build the CURE team.
            | I am in search of heroes like The HandWasher, Invisible Distance, SOAP, WFH, and any other great warriors against COVID19, until CURE arrives to the rescue.
    hr
    img.centered.responsive(src="/img/gamePrinciple.png" alt="covid19 game")

    a(href="covid.html")
        button.responsive(id="start") Start your battle

footer
    div.nime
        p.summary
            | you can visit <a href="https://github.com/users/ale-sanchez-g/projects/1">this project</a> for more information