doctype html
html
    head
        title COVID-19 THE GAME
        meta(name='keywords', content="covid19,corona,coronavirus")
        meta(name='description', content='The world has be taken over by SuperVillain covid19 and we need our SuperHeroes to come to the rescue.')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='robots', content="INDEX,FOLLOW")
        meta(name="google-site-verification" content="Lq6CiU2b5nKtX2annUFyOTd_dn0dkhdDhGPon6E_fDM")

        // OpenGraph Meta Tags
        meta(property="og:title" content="COVID-19 THE GAME")
        meta(property="og:type" content="game")
        meta(property="og:image" content="https://responsivefight.herokuapp.com/img/gamePrinciple.png")
        meta(property='og:description', content='The world has be taken over by SuperVillain covid19 and we need our SuperHeroes to come to the rescue.')

        // Twitter Card
        meta(property="twitter:title" content="COVID-19 THE GAME")
        meta(property="twitter:type" content="game")
        meta(property="twitter:image" content="https://responsivefight.herokuapp.com/img/gamePrinciple.png")
        meta(property='twitter:description', content='The world has be taken over by SuperVillain covid19 and we need our SuperHeroes to come to the rescue.')


        // Bootstrap CSS
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")   
        link(rel='stylesheet', href='covid.css', media='screen')
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        script(type="application/ld+json")
            | {"@context": "http://schema.org","@type": "WebSite","name": "COVID-19 THE GAME" }